@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
    background-color: #a1cca5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #d8f3dc;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}


@media screen and (max-width: 767px) {
    div.container {
        width: 290px
    }
  }

h1{
    text-align: center;
}


@media screen and (max-width: 767px) {
    h1 {
        font-size: x-large;
    }
  }

form{
    margin: 2rem 0 2rem 0;
}

form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2.2rem;
    padding-left: 0.75rem;
    width: 24rem;
}


@media screen and (max-width: 767px) {
    input {
        width: 18rem;
        height: 2rem;
    }
  }

select{
    background-color: #d8f3dc;
    cursor: pointer;
    height: 2rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    height: 1.75rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.msg{
    margin: 2.5rem 0 2.5rem 0;
    text-align: center;
}

#rate{
    font-size: 1.2rem;
}

button{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2.2rem;
    cursor: pointer;
    background-color: #74c69d;
}

p{
    font-size: 1.09rem;
}


@media screen and (max-width: 767px) {
    p {
        font-size: medium;
    }
  }